// Abstracts
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// Base
@use 'base/reset';
@use 'base/typography';

// Utilidades globales
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-md;

  @include md {
    padding: 0 $spacing-lg;
  }
}

.btn {
  @include button-base;

  &--primary {
    background-color: $color-primary;
    color: $color-white;

    &:hover:not(:disabled) {
      background-color: $color-primary-dark;
    }
  }

  &--secondary {
    background-color: $color-gray-200;
    color: $color-gray-700;

    &:hover:not(:disabled) {
      background-color: $color-gray-300;
    }
  }

  &--danger {
    background-color: $color-danger;
    color: $color-white;

    &:hover:not(:disabled) {
      background-color: darken($color-danger, 10%);
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $color-primary;
    color: $color-primary;

    &:hover:not(:disabled) {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &--whatsapp {
    background-color: #25d366;
    color: $color-white;

    &:hover:not(:disabled) {
      background-color: #128c7e;
    }
  }

  &--full {
    width: 100%;
  }
}

.input {
  @include input-base;

  &--error {
    border-color: $color-danger;

    &:focus {
      box-shadow: 0 0 0 3px rgba($color-danger, 0.1);
    }
  }
}

.select {
  @include input-base;
  cursor: pointer;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23666' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right $spacing-sm center;
  padding-right: $spacing-xl;
}

.form-group {
  margin-bottom: $spacing-md;

  label {
    display: block;
    margin-bottom: $spacing-xs;
    font-size: $font-size-sm;
    font-weight: 500;
    color: $color-gray-700;
  }

  .error-message {
    margin-top: $spacing-xs;
    font-size: $font-size-xs;
    color: $color-danger;
  }
}

.card {
  @include card;
}

.text-center {
  text-align: center;
}

.mt-md {
  margin-top: $spacing-md;
}

.mb-md {
  margin-bottom: $spacing-md;
}

.mb-lg {
  margin-bottom: $spacing-lg;
}
