@use '../../styles/abstracts/variables' as *;

.pedido-form {
  &__notas {
    resize: none !important;
    height: 80px !important;
  }

  &__notas-counter {
    display: block;
    text-align: right;
    font-size: $font-size-xs;
    color: $color-gray-400;
    margin-top: 4px;
  }

  .error-message {
    display: block;
    color: $color-danger;
    font-size: $font-size-sm;
    margin-top: -$spacing-sm;
    margin-bottom: $spacing-md;
  }

  &__actions {
    display: flex;
    gap: $spacing-sm;
  }
}
