@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixins' as *;

$sidebar-width: 220px;
$header-height: 70px;

.main-layout {
  min-height: 100vh;
  background-color: $color-gray-100;

  &__wrapper {
    min-height: 100vh;
    padding-top: calc($header-height + $spacing-md);

    @include md {
      margin-left: $sidebar-width;
    }
  }

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $header-height;
    z-index: 900;
    background-color: $color-white;
    border-bottom: 1px solid $color-gray-200;
    display: flex;
    align-items: center;
    padding: 0 $spacing-md;
    padding-left: 60px;

    @include md {
      left: $sidebar-width;
      padding: 0 $spacing-lg;
    }
  }

  &__content {
    max-width: 1400px;
    margin: 0 auto;
    padding: $spacing-md;

    @include md {
      padding: $spacing-lg;
    }
  }
}
