@use '../abstracts/variables' as *;

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: $color-gray-800;
  background-color: $color-gray-50;
}

h1 {
  font-size: $font-size-2xl;

  @media (min-width: $breakpoint-md) {
    font-size: $font-size-3xl;
  }
}

h2 {
  font-size: $font-size-xl;

  @media (min-width: $breakpoint-md) {
    font-size: $font-size-2xl;
  }
}

h3 {
  font-size: $font-size-lg;

  @media (min-width: $breakpoint-md) {
    font-size: $font-size-xl;
  }
}

p {
  margin-bottom: $spacing-md;
}

small {
  font-size: $font-size-sm;
  color: $color-gray-500;
}

strong {
  font-weight: 600;
}

a {
  color: $color-primary;
  transition: color $transition-fast;

  &:hover {
    color: $color-primary-dark;
  }
}
